*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100%;
    background-color: #1ac851;
}

.slider {
    width: 800px;
    height: 400px;
    overflow: hidden;
    border: 10px solid #fff;
}

.wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

